.hero-img img{
    width: 100px;
}

#duck-icon{
    width: 700px;
}

.hero-container{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    margin: 0 ;
    padding: 15vh 0 20vh;
    /* gap: 5rem; */
}

.hero-img{
    display: flex;
    flex-direction: row;
    gap: calc(100vw/20);
}

.hero-content{
    display: flex;
    flex-direction: column;
    padding: 10rem;
}
h2{
    display: flex;
}

.tech-tools-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 160px 0;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
    
}

p{
    display: flex;
}

.tech-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

svg{
    transition: 250ms;
}

.react-icon:hover{
    fill:#ADD8E6;
    transform: scale(1.1,1.1);
}

.html-icon:hover{
    fill:#F14A29;
    transform: scale(1.1,1.1);
}

.css-icon:hover{
    fill: rgba(59, 130, 246, .5);
    transform: scale(1.1,1.1);
}

.js-icon:hover{
    fill: rgb(255, 230, 0);
    transform: scale(1.1,1.1);
}

.node-icon:hover{
    fill: rgb(145, 255, 0);
    transform: scale(1.1,1.1);
}

.java-icon:hover{
    fill:#F14A29;
    transform: scale(1.1,1.1);
}
.figma-icon:hover{
    fill:#a91deb;
    transform: scale(1.1,1.1);
}



@media (max-width: 425px){

    .hero-container{
        padding: 0;
    }
    .hero-content{
        padding: 0;
    }
}

@media (max-width: 769px){
    .hero-container{
        padding: 0;
    }
    .hero-content p{
        /* display: flex; */
        padding: 0;
    }
}

@media (max-width: 1325px){
    .hero-container{
        padding: 0;
    }
    .hero-content{
        padding: 0;
    }
}