.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20rem 0 20rem;
}

.name-occupation{
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
}
.name{
    font-weight: 900;
    font-size: 5vw;
}
.occupation{
    font-style: italic;
    font-size: 1vw;
}
.university {
    color: #441273;
    font-size: 1vw;
    font-style: italic;
  }

  .down-arrow{
    margin-top: 10rem;
  }

  .down-arrow:hover{
    cursor: pointer;
    transform: translateY(0.5rem);
  }
  svg{
    transition: transform 250ms;
  }

  .linkedin-icon:hover{
    fill: rgb(0, 98, 255);
    transform: scale(1.1,1.1);
}

.github-icon:hover{
  fill:#000000;
  transform: scale(1.1,1.1);
}
