.contact-container {
    width: 100%;
    height: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1; /* Make sure this is appropriately set if you use stacking contexts */
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em; /* Using 'em' for scalability and consistency */
}

.email {
    font-style: italic;
    color: #ffffff; /* Ensuring text color is set for readability */
}

.contact-text {
    background: linear-gradient(45deg, #e100ff, #f5aa95, #fad0c4);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 3rem;
    font-style: italic;
}

/* Additional styles for links and icons */
.links a {
    margin: 0 10px; /* Spacing between links */
    display: inline-block; /* To align with SVG icons properly */
}

.linkedin-icon,
.github-icon {
    fill: #FFFFFF; /* Icon color */
    transition: transform 0.3s; /* Smooth scale effect on hover */
}

.links a:hover .linkedin-icon,
.links a:hover .github-icon {
    transform: scale(1.1); /* Slightly increase size on hover for better interactivity */
}

/* Media Queries for responsiveness */
@media (max-width: 1024px) {
    .contact-container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .contact-text {
        font-size: 2.5rem;
    }

    .header {
        font-size: 1.75em;
    }
}

@media (max-width: 768px) {
    .contact-container {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .contact-text {
        font-size: 2rem;
        margin: 0 5px;
    }

    .header {
        font-size: 1.5em;
    }

    .links a {
        margin: 0 5px;
    }
}

@media (max-width: 480px) {
    .contact-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .contact-text {
        font-size: 1.5rem;
        margin: 0 5px;
    }

    .header {
        font-size: 1.25em;
    }

    .email {
        font-size: 0.9em;
    }

    .links a {
        margin: 0 5px;
    }

    .linkedin-icon,
    .github-icon {
        width: 24px;
        height: 24px;
    }
}
