@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { 
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body{
  color: #fff;
  /* background-color: #060417; */
  background: linear-gradient(34deg, #441273, #051e4b 21%, #344f8d 58%, #6a89df 80%, #91e3e2 99%);
}


button{
  text-decoration: none;
}

a{
  color: #fff;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 12px; /* Adjust the width of the scrollbar */
  background-color: gainsboro; /* Makes the scrollbar track transparent */
}

/* Styles the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5); /* Gives the scrollbar a light, semi-transparent white color */
  border-radius: 6px; /* Rounds the corners of the scrollbar thumb */
  border: 3px solid transparent; /* Creates padding around scroll thumb */
  background-clip: padding-box; /* Ensures the border doesn't overlap the background color */
}

/* Hover styles for the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0); /* Darkens the handle a bit on hover for better visibility */
}

.project-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}